@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-Thin.woff2") format("woff2");
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-ThinItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-ExtraLight.woff2") format("woff2");
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-ExtraLightItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-Light.woff2") format("woff2");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-LightItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-RegularItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-MediumItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-SemiBold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-SemiBoldItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-Bold.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-BoldItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-Black.woff2") format("woff2");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "Alcyone";
	src: url("/fonts/alcyone/Alcyone-BlackItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 900;
	font-display: swap;
}
